services:
  db:
    image: postgres:18.1
    restart: always
    ports:
      - 5433:5432
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql
  migrations:
    build: .
    env_file:
      - .env
    restart: on-failure
    depends_on:
      - db
    command: poetry run alembic upgrade head
  app:
    build: .
    ports:
      - 8000:8000
    env_file:
      - .env
    depends_on:
      - migrations
volumes:
  postgres_data:
    driver: local
